
body {
    background: rgb(149,128,112);
    background: linear-gradient(0deg, rgba(149,128,112,1) 0%, rgba(255,253,248,0.40940126050420167) 100%);
}


#page {
    width: 100%;
    padding: 3%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

img{
    float:left;

}
article p::first-letter {
    font-size: 40px;
    color: red;

}


input::-moz-placeholder{
    color: blue;
}
article::before{
    content: "*";
}
article::after{
    content: "*";
}



div p{
    font-size: 20px;
}

body {
    background: rgb(149,128,112);
    background: linear-gradient(0deg, rgba(149,128,112,1) 0%, rgba(255,253,248,0.40940126050420167) 100%);
    font-weight: 400; }
div> footer{

    padding: 10px;
    background-color: black;
    color: white;

    clear: both;

}
ul li {
    list-style: none;
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}



.fa-youtube {
    background: #bb0000;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
#last{

    padding: 20px;
    background-color: black;
    color: white;
    clear: both;

}
p::first-line{
    font-size: 25px;
    color: blueviolet;
}
p{
    text-align: justify;
}

section.dark{
    background:#262626;
    color:#fff;
}

ul.mode-toggler{
    position:absolute;
    top:90px;
    right:20px;
    margin:0;
    padding:0px;
    width:100px;
    height:30px;
    z-index:1;
    border:1px solid #000;
    border-radius:4px;
    cursor:pointer;
    overflow:hidden;
}

ul.mode-toggler.active{
    border-color:#fff;
}

ul li{
    list-style:none;
    width:100%;
    height:60px;
    text-align:center;
    text-transform:uppercase;
    transition:0.5s;
}

ul.mode-toggler.active li{
    transform:translateY(-30px);
}

ul li span{
    display:block;
    width:100%;
    height:30px;
    line-height:30px;
    color:#262626;
    background:#fff;
}

ul li span:nth-child(1){
    background:#262626;
    color:#fff;
}
.dark{
    background:#262626;
    color:#fff;
}

.mapouter{text-align:right;height:316px;width:559px;}
.gmap_canvas {overflow:hidden;background:none!important;height:316px;width:559px;}